.claseBotonAgregar {
    padding: 10px 20px;
    background-color: #F9DE4B;
    color: #2A3F6F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
  }
  .claseBotonAgregar:hover {
    background-color: #e2ec5c;
  }
  .claseBotonAgregar:active {
    background-color: #e2ec5c;
  }
.claseBotonReiniciar {
    padding: 10px 20px;
    background-color: #E9ECF3;
    color: #2A3F6F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
  }
  .claseBotonReiniciar:hover {
    background-color: #E9ECF3;
  }
  .claseBotonReiniciar:active {
    background-color: #E9ECF3;
  }